{% extends 'base.html' %}
{% block title %}Sign Up{% endblock title %}
{% block content %}
<div class="center container app-container">
    <h2>Sign up</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input placeholder="First name" type="text" name="firstName" class="form-control" id="first-name">
        </div>
        <div class="mb-3">
            <input placeholder="Last name" type="text" name="lastName" class="form-control" id="last-name">
        </div>
        <div class="mb-3">
            <input placeholder="Username" type="text" name="username" class="form-control" id="username">
        </div>
        <div class="mb-3">
            <input placeholder="Email" type="email" name="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
            <input placeholder="Avatar" type="text" name="avatar" class="form-control" id="avatar">
        </div>
        <div class="mb-3">
            <input placeholder="Password" type="password" name="password1" class="form-control" id="password1">
        </div>
        <div class="mb-3">
            <input placeholder="Password confirmation" type="password" name="password2" class="form-control"
                id="password2">
        </div>
        <button type="signup" class="btn btn-success">Signup</button>
    </form>
</div>
</form>
{% endblock content %}
