body {
    overflow: hidden;
}

/* Chat containers */
.app-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.text-one-line {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 500px;
}

.right {
    margin-left: auto;
    margin-right: 0;
}