{% extends 'base.html' %}

{% block title %}Join Room{% endblock %}

{% block content %}
<div class="container">
    <div style="margin-top: 24px; max-height: 100vh;">
        <form action="{% url 'search_room' %}" method="post" class="d-flex" style="margin: 0 10%;">
            {% csrf_token %}
            <input class="form-control" type="text" name="room-name" placeholder="Room's Name">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
        <h3 style="margin: 20px 0;">Rooms</h3>
        <div style="height: 70vh; overflow-y: scroll">
            <ol>
                {% for room in rooms %}
                <li>{{room.name}}
                    <a href="{% url 'chat_room' room.pk %}">join</a>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}