{% extends 'base.html' %}



{% block title %}{{room.name}}{% endblock %}
{% block room_name %}Room: {{room.name}}{% endblock %}
{% block member_count %}Members: {{room.members.all|length}}{% endblock %}
{% block content %}
{{ user.id|json_script:"user-id" }}
{{ user.avatar|json_script:"user-avatar" }}
{{ user.username|json_script:"user-username" }}
{{ room.id|json_script:"room-id" }}
{{ messages|json_script:"messages" }}

<div class="app-container" style="margin: 0 50px;">
    <div id="chat-section" class="overflow-auto msgs" style="overflow-y: scroll; height:80vh;">
    </div>
    <form id="message-box-form" style="bottom:0; margin: 0% 10%;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="message" value="" placeholder="Aa" aria-label="Message">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit" id="sendBtn">Send</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}