{% extends 'base.html' %}



{% block title %}Room {{room.name}}{% endblock %}
{% block content %}
{{ user.id|json_script:"user-id" }}
{{ user.avatar|json_script:"user-avatar" }}
{{ user.username|json_script:"user-username" }}
{{ room.id|json_script:"room-id" }}
<div class="container text-center">
    <div style="max-height: 100vh;">
        <div>
            <!--HEADER-->
            <h4 id="room-name">{{room.name}}</h4>
            <p>{{room.members.all|length}} members</p>
        </div>

        <div style="height: 70vh; overflow-y: scroll;">
            <!--Content-->
            <ul style="list-style: none;" id="chat-section">
                {% for msg in room.messages.all %}
                {% if user.username == msg.author.username %}
                <li style="background-color: #f0f0f0; border-radius: 12px; margin: 12px 0;">
                    <div class="d-flex align-items-center justify-content-center">
                        <img style="width: 20px; height: 20px; border-radius: 50%; margin-right: 12px;"
                            src="{{msg.author.avatar}}" alt="{{msg.author.username}}">
                        <p>{{msg.author.username}}</p>
                    </div>
                    <p style="margin-left: 16px;">{{msg.content}}</p>
                </li>
                {% else %}
                <li style="border-radius: 12px; margin: 12px 0;">
                    <div class="d-flex align-items-center justify-content-center">
                        <img style="width: 20px; height: 20px; border-radius: 50%; margin-right: 12px;"
                            src="{{msg.author.avatar}}" alt="{{msg.author.username}}">
                        <p>{{msg.author.username}}</p>
                    </div>
                    <p style="margin-left: 16px;">{{msg.content}}</p>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div>
            <!--Action-->
            <form id="message-box-form">
                <input type="text" class="form-control" name="message" placeholder="Aa">
            </form>
        </div>
    </div>
</div>
{% endblock %}