{% extends 'base.html' %}



{% block title %}Room {{room.name}}{% endblock %}
{% block content %}
{{ user.id|json_script:"user-id" }}
{{ user.avatar|json_script:"user-avatar" }}
{{ user.username|json_script:"user-username" }}
{{ room.id|json_script:"room-id" }}
<div class="container">
    <div style="max-height: 100vh;">
        <div>
            <!--HEADER-->
            <h4 id="room-name">{{room.name}}</h4>
            <p>{{room.members.all|length}} members</p>
        </div>

        <div style="height: 70vh; overflow-y: scroll;">
            <!--Content-->
            <ul style="list-style: none;" id="chat-section">
                {% for msg in room.messages.all %}
                <li>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <img style="width: 20px; height: 20px; border-radius: 50%;" src="{{msg.author.avatar}}"
                            alt="{{msg.author.username}}">
                        <p style="margin-left: 16px;">{{msg.content}}</p>
                    </div>
                    <p>{{msg.send_date}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <!--Action-->
            <form id="message-box-form">
                <input type="text" class="form-control" name="message" placeholder="Aa">
            </form>
        </div>
    </div>
</div>
{% endblock %}