{% extends 'base.html' %}

{% block title %}Join Room{% endblock %}

{% block content %}
<div class="container">
    <div class="chatJoinRoom">
        <form action="{% url 'search_room' %}" method="post" class="d-flex searchForm">
            {% csrf_token %}
            <input class="form-control" type="text" name="room-name" placeholder="Room's Name">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
        <h3 class="roomLabelHeader">Rooms</h3>
        <div class="roomList">
            <ol>
                {% for room in rooms %}
                <li>{{room.name}}
                    <a href="{% url 'chat_room' room.pk %}">join</a>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}